aioaria2
aiofiles
aiohttp
aioqbt
aioshutil
anytree
apscheduler
asyncio-mqtt
cinemagoer
cloudscraper
cryptg
dnspython
fastapi
feedparser
flask
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
langcodes
lxml
motor
natsort
par2cmdline-turbo
pathlib2>=2.3.7; python_version < "3.6"
pillow
psutil
py7zr
pycountry
pymongo
pyrogram
pyrofork==2.2.11
python-dotenv
python-magic
pytz
pyzipper
qbittorrent-api
rarfile
requests
speedtest-cli
telegraph
telethon
tenacity
tgcrypto
typing-extensions>=4.0.0; python_version < "3.8"
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
